<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout">
<head></head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Send Mail Form</h3>
                    <form th:action="@{/sendMsg}" method="POST" th:object="${messageCmd}">
                        <div class="form-group">
                            <input type="hidden" name="receiverAlias" value="123"/>
                        </div>
                        <div th:class="${#fields.hasErrors('subject')} ? 'form-group has-error has-feedback' : 'form-group has-feedback'">
                            <label for="subject" class="control-label">Subject</label>
                            <input id="subject" th:field="*{subject}" type="text" placeholder="Subject" class="form-control"/>
                            <p th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" th:class="control-label">Incorrect date</p>
                        </div>
                        <div th:class="${#fields.hasErrors('content')} ? 'form-group has-error has-feedback' : 'form-group has-feedback'">
                            <label for="content" class="control-label">Content</label>
                            <textarea id="content" th:field="*{content}" class="form-control" rows="3" placeholder="Content"></textarea>
                            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" th:class="control-label">Incorrect date</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>